div#btn-whatsapp {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  width: 6rem;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50% 50% 50% 20%;
  background-color: green;

  cursor: pointer;

  animation: downButton 0.5s ease-in-out infinite alternate-reverse;
  z-index: 10;
}

div#btn-whatsapp a {
  text-decoration: none;
  color: #fff;
}

@keyframes downButton {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-3px) translateX(3px);
  }
}
